asgiref==3.11.0
beautifulsoup4==4.14.2
certifi==2025.11.12
charset-normalizer==3.4.4
colorclass==2.2.2
Django==4.2.26
django-bootstrap-v5==1.0.11
django-jquery==3.1.0
fontawesomefree==6.6.0
gunicorn==23.0.0
idna==3.11
packaging==25.0
pyparsing==3.2.5
rdflib==7.4.0
regex==2025.11.3
requests==2.32.5
soupsieve==2.8
SPARQLWrapper==2.0.0
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.6.0
