{% load static %}
{% load bootstrap5 %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if resource_label %}
        <meta name="keywords" content="{{ resource_label }}">
    {% endif %}
    {% if image_data %}
        <meta name="description" content="{{ image_data.img_description }}">
    {% endif %}
    <title>JudaicaLink Data</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/labs.css' %}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(["setCookieDomain", "*.judaicalink.org"]);
        _paq.push(["setDomains", ["*.judaicalink.org", "*.beta.judaicalink.org", "*.data.judaicalink.org", "*.labs.judaicalink.org", "*.web.judaicalink.org", "*.www.judaicalink.org"]]);
        _paq.push(["enableCrossDomainLinking"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "https://web.judaicalink.org/matomo/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript><p><img referrerpolicy="no-referrer-when-downgrade"
                      src="https://web.judaicalink.org/matomo/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt=""/>
    </p></noscript>
    <!-- End Matomo Code -->

</head>

<body>

<div class="wrapper">
    {% include "pubby/partials/navbar.html" %}
    <div id="content">
        <div class="container-fluid">
            {% block content %}

            {% endblock content %}
        </div>
    </div>
</div>
<!-- Matomo Image Tracker-->
<img referrerpolicy="no-referrer-when-downgrade" src="https://web.judaicalink.org/matomo/matomo.php?idsite=1&amp;rec=1"
     style="border:0" alt=""/>
<!-- End Matomo -->

<script>
  const scrollBtn = document.getElementById("scrollToTopBtn");

  window.addEventListener("scroll", () => {
    if (window.scrollY > 300) {
      scrollBtn.style.display = "block";
    } else {
      scrollBtn.style.display = "none";
    }
  });

  scrollBtn.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  });
</script>


<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script rel="javascript" src="{% static 'js/scripts.js' %}" type="javascript"></script>

<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

<script src="{% static 'pubby/design.js' %}" type="javascript"></script>

{% block scripts %}
{% endblock scripts %}

</body>
</html>
